.bookForm-container{
  height: 100vh;
  display: flex;
  justify-content: center;
  background-color: #F7F5F5
  ;
}

.bookForm{
  height: max-content;
  width: 450px;
  margin-top: 5rem;
  padding: 35px;
  background-color: #FFFFFF;
  border-radius: 10px;

}

.form-control{
  margin: 10px 0px;
 
}

.btn-form{
  width: 100%;
  margin-top: 20px;
}