.bookForm-container,
.categoriesForm-container,
.personForm-container{
  height: 100vh;
  display: flex;
  justify-content: center;
  background-color: #999999
  ;
}

.bookForm,
.categoriesForm,
.personForm{
  height: max-content;
  width: 600px;
  margin-top: 5rem;
  padding: 35px;
  background-color: #FFFFFF;
  border-radius: 10px;
}

.form-control{
  margin: 10px 0px;
}

.btn-form-redirect{
  text-align: right;
}

.btn-form{
  width: 100%;
  margin-top: 20px;
}


.booksTable-container,
.personsTable-container,
.categoriesTable-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  background-color: #999999
}

.books-table,
.persons-table,
.categories-table{
  height: max-content;
  width: 88%;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 35px;
  background-color: #FFFFFF;
  border-radius: 10px;
}

.table-edit-column{
  width: 100px;
}

.table-id-column{
  width: 100px;
}

.icon{
  text-align: center;
}